@use '_colors' as c;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: c.$background;
	overflow-x: hidden;
}
.test {
	width: 100vw;
	height: 100vh;
	background-color: c.$background;
}
.blue {
	background-color: #333;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.nav {
	&__dynamic-island {
		display: flex;
		position: fixed;
		align-items: center;
		justify-content: space-around;
		width: 60%;
		height: 80px;
		border-radius: 150px;
		background-color: c.$nav;
		transition: width 0.5s, height 0.5s 0.5s;
	}
	&__nav-item {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 75px;
		width: 75px;
		background-color: transparent;
		color: #fff;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		pointer-events: none;
		opacity: 1;
	}
}
.fa-solid {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 80%;
	height: 80%;
	background-color: c.$cta;
}
.minimalized {
	top: 25px;
	width: 250px;
	height: 50px;
}
